<h1>Greetings!</h1>

<p>
  You just registered on Andrion with the username <%-username%>, on
  <span style='color:purple; text-decoration: underline;'>
    <%-new Date().toUTCString()%>
  </span>.
</p>

<p>
  <a href='<%-host%>/tokens/<%-username%>/<%-token%>'>
    Click here to activate your account.
  </a>
</p>