<h1>Greetings!</h1>

<p>
  You just registered on Andrion with the username <%-username%>, on
  <span style='color:purple; text-decoration: underline;'>
    <%-new Date().toUTCString()%>
  </span>.
</p>

<p>
  <a href='<%-host%>/account/activate/<%-timeToken%>/<%-username%>/<%-activateToken%>'>
    Click here to activate your account.
  </a>
</p>