<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Include Common Head Fragment -->
  <%- include('../../../fragments/head.ejs') %>

    <!-- Page-Specific Information -->
    <meta name="keywords" content="register, create new account, new user, account" />
    <meta name="description" content="Create a new account." />
    <title>Andrion - Register</title>

    <!-- CSS Styling -->
    <link rel="stylesheet" href="/static/css/content/account/register.css" />

    <!-- Add Scripts -->
    <script src="/static/js/content/account/register/register.js"></script>
</head>

<body>
  <%- include('../../../fragments/header.ejs', {productTypes}) %>

    <main>
      <div class="afisaj">
        <h1>Inregistrare utilizator</h1>
        <br>

        <% if (!locals.error) { %>
          <%- include('../../../fragments/account/formular.ejs', {
            action: "/account/register/submit",
          }) %>
        <% } %>

        <% if(locals.raspuns) { %>
        <%- locals.raspuns + "<br/>" %>
        <% } %>

        <% if(locals.error) { %>
        <%- locals.error %>
        <% } %>
      </div>
    </main>

    <%- include('../../../fragments/footer.ejs') %>
</body>

</html>